* {
  margin: 5;
  padding: 5;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  width: 100%;
  line-height: 1.6;
  background-color: white;
}

#title {
  text-align: center;
  margin-top: 20px;
}

#main-form {
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: flex;
  margin-top: 10px;
}

/* #form-fieldset input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
} */

.radios {
  margin-right: 5px;
}

textarea {
  resize: vertical;
}

button {
  background-color: rgb(69, 160, 73);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button #clear-btn {
  background-color: rgb(244, 67, 54);
}

button:hover {
  background-color: rgb(69, 160, 73);
}

